.title-input {
  width: 100%;
  font-size: 30px;
}

.content-input {
  width: 100%;
  min-height: 200px;
  resize: vertical;
}
.input-container {
  width: 100%;
}

.create-edit-confirm-button-container {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 100%;
}
.create-edit-confirm-button {
  /* font-size: 20px; */
  padding: 10px 15px;
  margin-left: 10px;

  cursor: pointer;
}

.create-new-tag {
  position: absolute;
  top: -80px;
  /* width: 450px; */

  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: rgb(71, 73, 82);
  border-radius: 5px;
}
